<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>{{note}}</h2>
    {%if created_pizza_pk%}
    <a href="{% url 'edit_order' created_pizza_pk%}">Edit your order</a>
    {% endif %}
    <h1>Order</h1>
    <form action="{% url 'order' %}" method="POST">
        {% csrf_token%}
        {{ pizzaForm.as_p }}
        <input type="submit" value="Order Pizza">
    </form>

    <br>
    <div>
        <h4>Want more pizzas?</h4>
        <form action='{% url 'pizzas' %}' method="get">
            {{ multiple_form }}
            <input type="submit" value='Get Pizzas'>
        </form>
    </div>
</body>

</html>