{% extends 'pizza/base.html' %}
{% block 'body' %}
{% load widget_tweaks %}
<div class="container mt-5">
    <h1>Order Pizzas</h1>
    {% if note is not None %}
    <div class="alert alert-success" role="alert">
        {{note}}
    </div>
    {% endif %}
    <form action="{% url 'pizzas' %}" method="POST">
        {% csrf_token %}
        {{formset.management_form}}
        {% for form in formset %}

        <div class="row form-group">
            {% for field in form %}
            <div class="col">
                {{ field.label_tag}}
                {% render_field field class="form-control"%}
            </div>

            {% endfor %}
        </div>

        {% endfor %}
        <input type="submit" value="Order Pizzas" class="btn btn-success">

    </form>
</div>
{% endblock %}