{% extends 'pizza/base.html' %}
{% block 'body' %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
<div class="container mt-5">
    <h1>Order Pizzas</h1>
    {% if note is not None %}
    <div class="alert alert-success" role="alert">
        {{note}}
    </div>
    {% endif %}
    <form action="{% url 'pizzas' %}" method="POST">
        {% csrf_token %}
        {{formset.management_form}}
        {% for form in formset %}
        <h2 class="text-success mt-3">Pizza {{forloop.counter}}</h2>
        {{form| crispy}}
        <br>
        {% endfor %}
        <input type="submit" value="Order Pizzas" class="btn btn-success">

    </form>
</div>
{% endblock %}